include mixins/mixins_index
doctype html
html
    head
        //- metas
        title= title

        //- favicons
        link(rel="apple-touch-icon", sizes="57x57", href="./apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="./apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="./apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="./apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="./apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="./apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="./apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="./apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")

        meta(charset="UTF-8")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-TileImage", content="./mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")
        meta(name="description",content="Aloha National Level Championship 2019 registration form for Parents to register for Mental Abacus, Tiny Tots, English Smart, Smart English")
        meta(name="keywords",content="Aloha, India, National, Championship, 2019, Registraion, Parents, Abacus")
        meta(name="author",content="Aloha India")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")

        //- icons
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.0.2/css/material-design-iconic-font.min.css')

        //- fonts
        //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300')
        //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic|Courgette')

        //- plugins
        link(rel='stylesheet', href='css/vendor/loaders.min.css')
        link(rel="stylesheet", href="css/vendor/angular-ui-switch.min.css")
        link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-amber.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        //- styles
        link(rel='stylesheet', href='css/login.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/responsive.css')
        link(rel='stylesheet', href='css/helpers.css')
        link(rel='stylesheet', href='css/swal.css')
        link(rel='stylesheet', href='css/select.css')
        link(rel="stylesheet", href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css")

        //- scripts
        script(src='/js/vendor/angular.min.js')
        script(src='/js/vendor/angular-route.min.js')
        script(src='/js/vendor/angular-resource.min.js')
        script(src='/js/vendor/angular-sanitize.min.js')
        script(src='/js/vendor/i18next.min.js')
        script(src='/js/vendor/ng-i18next.min.js')
        script(src='/js/vendor/angular-ui-switch.min.js')
        script(src='/js/vendor/ng-csv.min.js')
        script(src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

    body(ng-app='StudentApp', ng-controller='MainController')

        h1(style="display:none;")

        div.navbar-inverse(ng-show="displayAlert")
            div#notification-banner.secondary
                div#notification-container
                    button.tog#notification-close-btn(type="button",ng-click="displayAlert=!displayAlert; toggleNotification();",style="z-index:9999999;cursor:pointer;")
                        i.fa.fa-times.large_icon(aria-hidden="true")
            //- span.cta(ng-if="!isValidBrowser")
            //-     | You are using an unsupported browser. Please use the latest version of Google Chrome. 
            //- span.cta(ng-if="!isValidResolution")
            //-     | You are using an unsupported resolution. Please resize to 1024 x 640 or higher.
            span.cta
                | Registrations are now <b> Closed </b>. ADMIT CARD / HALL TICKET WILL BE AVAILABLE TO DOWNLOAD AFTER <b> 18th DECEMBER 2019 </b>

        //- div.navbar-inverse(style="background-color:red;")
        //-     div#notification-banner.secondary
        //-         div#notification-container
        //-     span.cta(style="font-weight:bolder;color: white; font-size: 20px;")
        //-         | ADMIT CARD / HALL TICKET WILL BE AVAILABLE TO DOWNLOAD AFTER 15th DECEMBER 2019

        +custom_header('Aloha NLC', 'exit')
        block content

        //- +custom_footer(t('layout.footer.about'))

        //- scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")
        script(src='js/cookies.js')        
        script(src='js/app.js')
        script(src='js/Services/CenterService.js')
        script(src='js/Services/UserService.js')
        script(src='js/Services/StudentService.js')
        script(src='js/Controllers/LoginController.js')
        script(src='js/Controllers/TableController.js')
        script(src='js/Controllers/CardController.js')
        script(src='js/Controllers/FormController.js')
        script(src='js/Controllers/upload.js')

        //- script(type="text/javascript")
        //-     | var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        //-     | (function(){
        //-     | var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        //-     | s1.async=true;
        //-     | s1.src='https://embed.tawk.to/5bb18aea8a438d2b0cdfe016/default';
        //-     | s1.charset='UTF-8';
        //-     | s1.setAttribute('crossorigin','*');
        //-     | s0.parentNode.insertBefore(s1,s0);
        //-     | })();

        //- script
        //-     | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        //-     | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        //-     | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //-     | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        //-     | ga('create', 'UA-43057134-3', 'auto');
        //-     | ga('send', 'pageview');

        //- Wootric
        script(type="text/javascript")
            | window.wootricSettings = {
            | account_token: 'NPS-430ba384',
            | };
        script(type="text/javascript",src="https://cdn.wootric.com/wootric-sdk.js")
    